<h1> <%= @contact.first_name %> </h1>
<h1> <%= @contact.last_name %></h1>
<h1><%= @contact.email%></h1>
<h1><%= @contact.phone_number%></h1>

<%= link_to 'home', '/' %>
<%= link_to 'edit', "/contacts/#{@contact.id}/edit" %>
<%= link_to 'delete', "/contacts/#@contact.id}", method: :delete %> 