<h6><%= @contact.friendly_updated_at %></h6>
<h1><%= @contact.full_name %></h1>
<h1><%= @contact.bio %></h1>
<h1><%= @contact.email%></h1>
<h1><%= @contact.regional_phone_number%></h1>
<h3>Contact Groups:</h3>
<% @contact.groups.each do |group| %>
<ul>
  <li><a href="/contacts?group=<%= group.name %>"><%= group.name %></li>
  <% end %>
</ul>

<%= link_to 'home', '/' %>
<br>
<%= link_to 'edit', "/contacts/#{@contact.id}/edit" %>
<br>
<%= link_to 'delete', "/contacts/#{@contact.id}", method: :delete %> 